.navbar {
    position: fixed;
    padding: 1rem 3rem;
    top: 0;
    width: 100%;

    @include tablet-up {
        padding: 1rem 20rem;
    };

    @include mobile-down {
        padding: 0.4rem;
        margin: 0;
    }

    &-brand {
        color: let(colors-yellow);
        font-size: 1.6rem;

        &:hover {
            color: let(colors-white);
            text-decoration: none;
        }
    };

    &-link {
        color: let(colors-grey);
        padding: 0.5rem;
        text-transform: uppercase;
        
        &:hover {
            color: let(colors-white);
            text-decoration: none;
        }
    };

    &-toggler {
        color: let(colors-black);
        border: 0.2rem solid let(colors-grey);
        padding: 0.7rem;
    };

    &-collapse {
        justify-content: flex-end;
    }
};

.sticky {
    background-color: let(colors-white);
    background-image: none;
    z-index: 999;
};

.sticky .navbar {
    &-brand:hover {
        color: let(colors-darkerGrey);
        text-decoration: none;
    }

    &-link {
        color: let(colors-darkerGrey);
        text-decoration: none;

        &:hover {
            color: let(colors-yellow);
            text-decoration: none;
        }
    }
};