@-ms-viewport {
    width: device-width
}

@media screen and (max-width: 480px) {

    html,
    body {
        min-width: 320px;
    }
}

html {
    box-sizing: border-box;
}


html {
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}


@media screen and (max-width: 1680px) {
    html {
        font-size: 11pt;
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 11pt;
    }
}


#menu {
    margin: 3rem;
}

footer button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 1.5rem 1.5rem 1.5rem 0;
    text-decoration: none;
    padding: 10px;
}

header .logo {
    text-align: left;
    color: #ffffff;
    background-color: black;
    font-size: 20pt;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links a {
    color: black;
    font-size: 15pt;
    font-weight: 300;
    height: inherit;
    line-height: inherit;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper {
    background-color: white;
    padding: 10rem 0 8rem 0;
}

@media screen and (max-width: 960px) {
    .wrapper {
        padding: 0.5rem 0 1rem 0;
        max-width: calc(100% - 1rem);
    }
}

.content {
    background: #ffffff;
    margin-bottom: 2rem;
    padding: 3rem;
}

@media screen and (max-width: 980px) {
    .content {
        padding: 2pt;
        max-width: calc(100% - 3rem)
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 2pt;
        max-width: calc(100% - 2rem)
    }
}

.container h3 {
    font-weight: 600;
    text-transform: uppercase;
}

#leftbox {
    float: left;
    width: 33%;
    height: 8rem;
}

#middlebox {
    float: left;
    background-color: whitesmoke;
    width: 33%;
    height: 8rem;
}


#rightbox {
    float: left;
    width: 33%;
    height: 8rem;
}

@media screen and (max-width: 960px) {

    #leftbox,
    #middlebox,
    #rightbox {
        display: block;
        float: none;
        width: 100%
    }
}

.container::after {
    content: "";
    clear: both;
    display: table;
}


img.main-jpg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

@media screen and (max-width: 960px) {
    .img.main-jpg {
        width: 100%;
        display: inline-flex;
    }
}

form {
    margin: 3rem 3rem;
}


form input {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 20px;
    padding: 4px;
    margin-bottom: 20px;
    width: 300px;
}

form label {
    width: 250px;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    form input {
        max-width: calc(100% - 3rem);

    }
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.next-to-img {
    float: left;
    width: 40%;
    padding: 5px;
}


.content-img img {
    max-width: 50%;
}

.content-img::after {
    content: "";
    clear: both;
    display: table;

}

@media screen and (max-width: 960px) {
    .next-to-img {
        display: block;
        float: none;
        width: 100%;
    }
}

.gallery-box img {
    width: 284px;
    height: 189px;
    box-shadow: rgb(160, 159, 159);
    box-shadow: 5px 5px;
    margin-bottom: 2rem
}


.gallery-box {
    float: left;
    width: 30%;
    padding: 1rem;
    margin-bottom: 4rem
}

.wrapper-gallery {
    background-color: white;
    margin: 2rem;
    margin-bottom: 2rem;
    padding: 2rem
}

.gallery::after {
    content: "";
    clear: both;
    display: table;

}

@media screen and (max-width: 960px) {
    .gallery-box {
        float: none;
        display: block;
        padding: 1rem;
        margin: 0pt;
        max-width: calc(100% - 2rem)
    }
}

@media screen and (max-width: 480px) {
    .gallery-box {
        max-width: calc(100% - 10rem);
        float: none;
        display: block;
        padding: 0rem;
        margin: 0pt;
    }
}