$config: (
    breakpoints: (
        mobile: 640px,
        tablet: 992px,
        desktop: 1280px
    ),
    colors: (
        "black": #000000,
        "white": #ffffff,
        "grey": #b8c0c7,
        "darkerGrey": #6e767e,
        "yellow": #fdcc52,
        "gradientOne": #dc2430,
        "gradientTwo": #7b4397,
        "icons": #dc2430,
        "facebook": #395999,
        "twitter": #3e9cd6,
        "heart": #de4b38,
        "footer": #2a2a2a,
    ),
)